/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require commontator/application
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "vars";


#modal-form {
    margin: 2rem;
}
body {
    margin:0;
}

p, h1, h2, h3, h4, h5, h6, a {
    margin:0;
    font-family: $t26-font-family !important;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #800 !important;
}
a:hover {
    color: red !important;
}

.Mchan-bg {
    background:#ffe image-url('fade.png') top repeat-x;
    color:#800;
}

.card {
    border-radius: 0;
    border-color: #800;    
}

.navbar-brand {
    color: $brown;
}
nav .btn-group *{
    color: $brown;
}


#modal-checkbox {
    padding: 11px;
    border: solid 1px $brown;
    background-color: #FFF;
}
.modal-content {
    border: solid 1px $brown;
    border-radius: 0;
    background: lightsalmon;
    max-width: 50%;
    margin: 0 auto;
    * {
        color: black;
        opacity: 1 !important;
    }
    input {
        border-radius: 0;
        border: solid 1px $brown;
    }
    #user_email, #user_password {
        margin: 0 0 10px 0;
    }

}
div.modal:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button:nth-child(2) > span:nth-child(1) {
    padding:3px;
}

div.modal:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button:nth-child(2) > span:nth-child(1):hover {
    color: red;
}
.modal-header {
    border-bottom: solid 1px $brown;
    background-color: $alt-bg-color;
    padding: 5px 10px 5px 13px;
}
.modal-header .close {

    padding: 3px;
    margin: 0;

}

nav.navbar {
    border-bottom: solid 1px $brown;
}