// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "vars";

.cover-image {
    max-height: 10rem;
    overflow: hidden;
    width:100%;
    border-bottom: 1px solid $brown;
    img {
        width:100vw;
    }
}
.forum-header {
    max-height: 5rem;
    border-bottom: 1px solid $brown;
}
#forum-dp {
    height: 15vh;
    width: 15vh;
    border: solid
    $brown 1px;
    position: relative;
    top: -50pt;
    left: 50px;
}
#forum-title {
    display: inline-block;
    padding: 0 0 0 10pt;
    position: relative;
    left: 40px;
    top: -30px;
    font-weight: bold;
    color:#800;
}

