// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cover-image {
    max-height: 5rem;
    overflow: hidden;
    width:100%;
    img {
        width:100vw;
    }
}
.forum-header {
    max-height: 5rem;
    border-top: 2px solid white;
}